 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

 :root{
    --dark-primary: #1b1f24;
    --primary: #ffa412;
    --light-primary: #22282f;
 }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


header{
    background-color: var(--dark-primary);
    padding: 20px;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    color:var(--primary);
}

header  a{
    text-decoration: none;
}

header ul{
    display:flex;
}

header ul li {
    list-style: none;
    margin-left:20px;
}

header ul li a {
    color:white;
    text-decoration: none;
    transition: 0.3s;
}

header ul li a:hover{
    color:var(--primary);
}

header button{
    padding:10px 20px;
    font-weight: 500;
    color:var(--primary);
    background-color: var(--dark-primary) ;
    border:1px solid var(--primary);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover{
    background-color: var(--primary);
    color:white;
}

section.hero-section{
    color:white;
    background-color: var(--dark-primary);
    display: flex;
    align-items: center;
    padding:70px 80px 0 150px;
}


.hero-section_title{
    font-size: 42px;
    font-weight: 700;
}

.hero-section_title span{
    color: var(--primary);
}

.hero-section_desc{
    color: #c4c4c4; 
}

.hero-section ul {
    display: flex;
    margin:10px 0;
}

.hero-section ul li{
    list-style: none;
    margin-right: 15px;
}

.hero-section ul a{
    color:white;
}

.social-icons a:hover{
    color:var(--primary);
}

.hero-section_btn{
    margin-top: 20px;
}

.hero-section_btn > button{
    padding:8px 20px;
    border-radius:2px;
    border:none;
    cursor: pointer;
    border:2px solid var(--primary);
    font-weight: 500;
    margin-right: 10px;
}

.btn-primary{
    color:black;
    background: var(--primary);
    border:none;
}

.btn-primary:hover{
    background-color: var(--dark-primary);
    color:var(--primary);
    border:2px solid var(--primary);
}

.btn-secondary{
    background-color: var(--dark-primary);
    color:var(--primary);
}

.btn-secondary:hover{
    background-color: var(--primary);
    color:white;
}

.btn-know{
    color:black;
    background: var(--primary);
    border:none;
    padding:10px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
}



.about-section{
    display: flex;
    background-color: var(--light-primary);
    color:white;
    padding:60px 100px;
    justify-content: center;
    align-items: center;
}

.about-section img{
    width:300px;
    height:300px;
    object-fit: cover;
    border-radius: 50%;
    border:3px solid var(--primary);
    box-shadow: 5px 5px 20px var(--primary);
}

.about-section_desc{
    margin-left: 100px;
    max-width: 450px;
}

.about-section_desc h4{
    font-size:34px;
    font-weight: 700;
}

.about-section_desc  li {
    color: grey;
}

.about-section_desc li > strong{
    color:white;
}

.about-section_desc h4 > span {
    color: var(--primary);
}

.about-section_desc ul{
    list-style: none;
    margin:10px 0;
}

.about-section_desc li{
    margin-bottom:8px;
}

.work-section{
    background-color: var(--dark-primary);
    color: white;
    padding:60px;
    text-align: center;
}

.work-section-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.work-section-title>span{
    color: var(--primary);
}

.work-section-items{
    display: flex;
    justify-content: space-around;
}

.work-section p {
    padding:5px 0;
}

.work-section-box{
    background-color: var(--light-primary);
    padding:20px 30px;
    width:300px;
    text-align: left;
    border-radius:3px;
}

.work-section-box > p{
    color:grey;
    font-size: 13px;
    margin-top: 5px;
}

.work-section-box a{
    text-decoration: none;
    color:var(--primary);
    font-size: 13px;
    display: block;
    margin-top: 10px;
}

.work-section-box-icons{
    background: var(--primary);
    width:40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.work-section-box:hover{
    background-color: #14171c;
}

.project-section{
    background: var(--light-primary);
    padding:30px 20px;
    text-align: center;
    color:white;
}



.project-img img{
    border-radius: 5px;
}

.project-section {
    justify-content: space-evenly;
}

.project-section .work-section-box{
    background: var(--dark-primary);
    width: 360px;
}

.project-section .work-section-box:hover{
    background: #13161a ;
}

.contact-section{
    background-color: var(--dark-primary);
    padding:40px;
    color:white;
    text-align: center;
}

.contact-section h4{
    font-size: 30px;
    margin: 20px 0;
    font-weight: 600;

}

.contact-section h4 span{
    color:var(--primary);
}

.contact-section form div > input,textarea{
    padding: 5px 10px;
    outline: none;
    width:350px;
    border:none;
    background: #c4c4c4;
    border-radius: 3px;
    margin-bottom: 10px;
    resize: none;
}

.btn-send{
    color:black;
    background: var(--primary);
    border:none;
    padding:10px 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;  
}

footer{
    background-color: var(--light-primary);
    color:grey;
    padding:20px 0;
    text-align: center;
    font-size: 12px;
}

footer a{
    text-decoration: none;
    color:var(--primary);
}

/* media queries */

@media only screen and (max-width:600px){
    header{
        flex-direction: column;
    }

    header > * {
        margin-bottom: 10px;
    }

    /* hero-section */

    section.hero-section{
        flex-direction: column;
        padding:40px;
    
    }

    /* about-section */

    .about-section{
        flex-direction: column;
    }

    .about-section_desc{
        margin-left: 0;
        margin-top: 30px;
    }

    /* my works */


    
    .work-section-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work-section-box{
        margin-top:20px;
        width: 100%;
    }


    
}